# --- Carpetas que NO deben subirse ---
venv/
.env/
__pycache__/
.pytest_cache/
.cache/
.idea/
.vscode/

# --- Archivos temporales ---
*.pyc
*.pyo
*.log
*.tmp

# --- Archivos de entorno ---
*.env
.env.local
